<!-- Header Carousel -->
<header id="carousel_fade" class="carousel slide carousel-fade">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel_fade" data-slide-to="0" class="active"></li>
        <li data-target="#carousel_fade" data-slide-to="1"></li>
        <li data-target="#carousel_fade" data-slide-to="2"></li>
    </ol>

    <!--    
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://www.dropbox.com/s/zx8892pjxak7uip/flea_market_5.jpg?raw=1" alt="Flea Market Image">
            <div class="carousel-caption">
                <h3>Flea Market</h3>
                <p>......</p>
            </div>
        </div>
          
        <div class="item">
            <img src="https://www.dropbox.com/s/3qiulc0aomuu45r/restaurant_reviews_0.jpg?raw=1" alt="Restaurant Reviews Image">
            <div class="carousel-caption">
                <h3>Restaurant Reviews</h3>
                <p>......</p>
            </div>
        </div>

        <div class="item">
            <img src="https://www.dropbox.com/s/n1hetjgpid9y76l/photo_blog_0.jpg?raw=1" alt="Photo Blog Image">
            <div class="carousel-caption">
                <h3>Photo Blog</h3>
                <p>......</p>
            </div>
        </div>
    </div>
    -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="cover" style="background-image:url('https://www.dropbox.com/s/zx8892pjxak7uip/flea_market_5.jpg?raw=1');"></div>
            <div class="carousel-caption">
                <h2>Flea Market</h2>
                <p>......</p>
            </div>
        </div>
        <div class="item">
            <div class="cover" style="background-image:url('https://www.dropbox.com/s/3qiulc0aomuu45r/restaurant_reviews_0.jpg?raw=1');"></div>
            <div class="carousel-caption">
                <h2>Restaurant Reviews</h2>
                <p>......</p>
            </div>
        </div>
        <div class="item">
            <div class="cover" style="background-image:url('https://www.dropbox.com/s/n1hetjgpid9y76l/photo_blog_0.jpg?raw=1');"></div>
            <div class="carousel-caption">
                <h2>Photo Blog</h2>
                <p>......</p>
            </div>
        </div>
    </div>

    <!-- Controls -->       
    </div>
        <a class="carousel-control left btn-control " href="#carousel_fade" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="carousel-control right btn-control" href="#carousel_fade" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</header>