<header id="header-about">

  <div class="vertical-center">
    <div class="text-center">
        <h1>About<br />Sungwon</h1>
    </div>
  </div>

</header>

<section>

	<h1>Pages#about</h1>
	<p>Find me in app/views/pages/about.html.erb</p>

</section>