<header id="header-about">
  <div class="content center-vertical text-center">
        <h1 class="h1-64 animation-fade-in-y">Sungwon Ryu<br />full stack web developoer</h1>
        <hr class="animation-expand">
        <h4 class="animation-fade-in">Development is my passion,<br />I will aim for only the very best results.<h4>
  </div>
</header>

<section>
	<article>
		<div class="container">
			<div class="row">
				<h1>Pages#about</h1>
				<p>Find me in app/views/pages/about.html.erb</p>
			</div>
		</div>
	</article>
</section>