<header id="header-about">
  
  <div class="heading center-vertical text-center">
        <h1 class="h1-64 animation-fade-in-y">Sungwon Ryu<br />full stack web developer</h1>
        <hr class="animation-expand">
        <h4 class="animation-fade-in">Development is my passion,<br />I will aim for only the very best results.<h4>
  </div>

  <%= render 'shared/link' %>

</header>


<!-- Page Contents -->
<section id="contents">

	<article>
		<div class="container">
			<div class="text-center">
				<h3>About Me</h3>

				<div class="row"></div>
					<div class="col-md-3">
						
					</div>
					<div class="col-md-9">
						<p>I'm an computer science student & freelance web developer from Sunnyside, New York. I love creating clean and efficient websites and web applications with Ruby HTML / CSS / Javascript / JQuery / AngularJs/ Ruby on Rails and I'm passionate about all things digital. I enjoy sharing my thoughts with my friends, and listening to music.</p>			
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</article>
	
</section>