<!-- Header Carousel -->
<%#= render 'shared/carousel_fade' %>
<!--
<header id="header-blog">
    <div class="vertical-center">
        <div class="text-center">
            <h1 class="hit-the-floor">UNDER<br />CONSTRUCTION<br /><br />COMMING SOON</h1>
        </div>
    </div>
</header>
-->
<h2>Comming Soon.</h2>
<h1>Pages#blog</h1>
<p>Find me in app/views/pages/blog.html.erb</p>