<header id="header-blog">
  <div class="content center-vertical text-center">
        <h1 class="h1-64 animation-fade-in-y">Under Construction<br />Comming Soon</h1>
        <hr class="animation-expand">
        <h4 class="animation-fade-in">Web development related blog<br />is comming soon.</h4>
  </div>
</header>


<section>
	<article>
		<div class="container">
			<div class="row">
				<h1>Pages#blog</h1>
				<p>Find me in app/views/pages/blog.html.erb</p>
				
			</div>
		</div>
	</article>
</section>


