<header id="header-contact">

  <div class="vertical-center">
    <div class="text-center">
        <h1>Contact to<br />Sungwon</h1>
    </div>
  </div>

</header>

<section>

	<h1>Pages#contact</h1>
	<p>Find me in app/views/pages/contact.html.erb</p>

</section>