<header id="header-contact">
	
	<div class="heading center-vertical text-center">
	    <h1 class="h1-64 animation-fade-in-y">Let's work together<br />on your next project</h1>
	    <hr class="animation-expand">
	    <h4 class="animation-fade-in">Looking for a new development<br />I'd love to hear about your project.</h4>
	</div>

	<%= render 'shared/link' %>

</header>


<!-- Page Contents -->
<section id="contents">

	<article>
		<div class="container">
			<div class="row">
				<h1>Pages#contact</h1>
				<p>Find me in app/views/pages/contact.html.erb</p>
			</div>
		</div>
	</article>

</section>
