<header>

    <div class="screen-wrapper" id="header-welcome">

        <div class="os-phrases" id="os-phrases">
            <h2>I do not have</h2>
            <h2>special talent</h2>
            <h2>but I am</h2>
            <h2>passionately</h2>
            <h2>curious</h2>
            <h2>Sungwon Ryu's</h2>
            <h2>homepage</h2>
            <h2>Welcome</h2>
        </div>
    
        <%= render 'shared/link' %>

    </div><!--/.screen-wrapper -->
    
</header>


<section id="contents">

    <div class="container">
        <div class="text-center">
            <h3>Hi, I'm Sungwon.</h3>
            <p>Computer science student passionate about creating web applications.</p>
        </div>
        
    	<h1>Pages#welcome</h1>
    	<p>Find me in app/views/pages/welcome.html.erb</p>
    </div>

</section>  