<header id="header-welcome">

    <div class="os-phrases" id="os-phrases">
        <h2>I do not have</h2>
        <h2>special talent</h2>
        <h2>but I am</h2>
        <h2>passionately</h2>
        <h2>curious</h2>
        <h2>Sungwon Ryu's</h2>
        <h2>homepage</h2>
        <h2>Welcome</h2>
    </div>

</header>

<section>

	<h1>Pages#welcome</h1>
	<p>Find me in app/views/pages/welcome.html.erb</p>

</section>