html, body {
	height: 100%;
}

body {
	font-family: 'Museo Sans', sans-serif;
	font-size: 1.286em;
	line-height: 2.000em;
	font-weight: 300;
	color: #6c6c6c;
	background-color: #f2f2f2;
	-webkit-font-smoothing: antialiased;
}

.navbar {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	z-index: 100;
    font-size: 1.0em;
    font-weight: 700;
    line-height: normal;
    .navbar-header > .navbar-toggle > .icon-bar {
    	background-color: #fff;
    }
    .navbar-nav {
    	li {
    		margin: 0 20px;
    	}
	    li.active {	
	    	border-bottom: 1px solid #fff;
	    	border-top: 1px solid #fff;
	    	a {
	    		background-color: transparent;
	    	}
	    }
	    li { 
	    	a, a:hover {
		    	color: #fff;
		    	text-transform: uppercase;
		    	padding: 11px 1px 10px 1px;
		    	letter-spacing: 1px;
		    	background-color: transparent;
		    }
	    }
	}   
}

.navbar-transparent {
	background-color: transparent;
	border: 0;
	.navbar-brand {
		font-size: 2.0em;
		color: #fff;
	}
	.active > a {
		background-color: transparent;
		text-decoration: none;
	}
}

.vertical-center:before {    
	/* create a full-height inline block pseudo=element */
	content: " ";
	display: inline-block;
	vertical-align: middle;    
	/* vertical alignment of the inline element */
	height: 100%;
}

.vertical-center > div {
	width: 100%;
	display: inline-block;
	vertical-align: middle;  /* vertical alignment of the inline element */
}

header {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 0;
	.vertical-center > .text-center > h1 {
		position: relative;
		font-size: 64px;
	}
}

header#header-welcome {
	background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url('https://www.dropbox.com/s/r1347s9tjoyusf5/cloud_0.jpg?raw=1') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header#header-projects {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://www.dropbox.com/s/wjn836c9j1dhy14/notebook_9.jpg?raw=1') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header#header-blog {
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('https://www.dropbox.com/s/n1hetjgpid9y76l/photo_blog_0.jpg?raw=1') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header#header-about {
	background: url('https://www.dropbox.com/s/wjn836c9j1dhy14/notebook_9.jpg?raw=1') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header#header-contact {
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('https://www.dropbox.com/s/u0uhxaubspvpmcw/notebook_13.jpg?raw=1') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


section {
	position: relative;
}










.content {
  width:237px;
  font-size:36px;
  line-height:40px;
  font-family:'Muli';
  color:#ecf0f1;
  height:40px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-15px;
  margin-left:-118px;
  
  &:before {
    content:'[';
    position:absolute;
    left:-30px;
    line-height:40px;
  }
  &:after {
    content:']';
    position:absolute;
    right:-30px;
    line-height:40px;
  }
  &:after, &:before {
    color:#16a085;
    font-size:42px;
    animation:2s linear 0s normal none infinite opacity;
    -webkit-animation:2s ease-out 0s normal none infinite opacity;
    -moz-animation:2s ease-out 0s normal none infinite opacity;
    -o-animation:2s ease-out 0s normal none infinite opacity;
  }
	.visible {
	  float:left;
	  font-weight:600;
	  overflow:hidden;
	  height:40px;   
	}

	p {
	  display:inline;
	  float:left;
	  margin:0;
	}

	ul {
	  margin-top:0;
	  padding-left:110px;
	  text-align:left;
	  list-style:none;
	  animation:6s linear 0s normal none infinite change;
	  -webkit-animation:6s linear 0s normal none infinite change;
	  -moz-animation:6s linear 0s normal none infinite change;
	  -o-animation:6s linear 0s normal none infinite change;
	}

	ul li {
	  line-height:40px;
	  margin:0;
	}

	@-webkit-keyframes opacity {
	  0%   {opacity:0;}
	  50%  {opacity:1;}
	  100% {opacity:0;}
	}
	@keyframes opacity {
	  0%   {opacity:0;}
	  50%  {opacity:1;}
	  100% {opacity:0;}
	}

	@-webkit-keyframes change {
	  0%   {margin-top:0;}
	  15%  {margin-top:0;}
	  25%  {margin-top:-40px;}
	  40%  {margin-top:-40px;}
	  50%  {margin-top:-80px;}
	  65%  {margin-top:-80px;}
	  75%  {margin-top:-40px;}
	  85%  {margin-top:-40px;}
	  100% {margin-top:0;}
	}
	@keyframes change {
	  0%   {margin-top:0;}
	  15%  {margin-top:0;}
	  25%  {margin-top:-40px;}
	  40%  {margin-top:-40px;}
	  50%  {margin-top:-80px;}
	  65%  {margin-top:-80px;}
	  75%  {margin-top:-40px;}
	  85%  {margin-top:-40px;}
	  100% {margin-top:0;}
	}
}
