html, body, header {
	height: 100%;
}

body {
	//position: relative;
	color: #6c6c6c;
	background-color: #f2f2f2;
}

a, a:hover {
	text-decoration: none;
	background-color: transparent;
}

.h1-64 {
	font-size: 4.413em;
	line-height: 1em;
}


// Nav


.navbar {
	position: absolute;
	z-index: 100;
	top: 40px;
	left: 0;
	right: 0;
    font-size: 1em;
    font-weight: 700;
    line-height: normal;
    .navbar-header > .navbar-toggle > .icon-bar {
    	background-color: #fff;
    }
    .navbar-nav {
    	li {
    		margin: 0 14px;
    	}
	    li.active {	
	    	border-bottom: 1px solid #fff;
	    	border-top: 1px solid #fff;
	    	a {
	    		background-color: transparent;
	    	}
	    }
	    li { 
	    	a, a:hover {
		    	color: #fff;
		    	text-transform: uppercase;
		    	padding: 4px 1px 3px 1px;
		    	letter-spacing: 1px;
		    	background-color: transparent;
		    }
	    }
	}   
}

.navbar-transparent {
	background-color: transparent;
	border: 0;
	.navbar-brand {
		font-size: 1.743em;
		font-weight: 600;
		color: #fff;
	}
	.active > a {
		background-color: transparent;
		//text-decoration: none;
	}
}

.notice {
	position: relative;
	z-index: 1;
	top: 100px;
	color: #fff;
}


// Header


.screen-wrapper {
	height: 100%;
}

header {
	.screen-wrapper {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
		a, a:hover {
			color: #fff;
		}
		.heading {
			position: relative;
			margin: 0 auto;
			color: #fff;
			h1 {
				margin-top: 0;
			}
			hr {
				width: 400px;
			}
			h4{
				font-size: 1.72em;
			}
		}
	}
	.guide {
		color: #fff;
	 	position: absolute;
	 	z-index: initial;
		bottom: 0%;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
	    -moz-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	    -o-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
		
	}
}

.center-vertical {	
	position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(o, -50%);
}

 

.animation-fade-in-y {
	/* Chrome, Safari, Opera */
    -webkit-animation-name: fade-in-y; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-timing-function: ease-in-out;
	/* Standard syntax */
    animation-name: fade-in-y;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fade-in-y {
    0% {
	    margin-top: -50px;
	    opacity: 0;
    }
    50% {
	    margin-top: -50px;
	    opacity: 0;
    }
    100% { 
    	margin-top: 0;
    	opacity: 1;
	}
}

/* Standard syntax */
@keyframes fade-in-y {
     0% {
	    margin-top: -50px;
	    opacity: 0;
    }
    50% {
	    margin-top: -50px;
	    opacity: 0;
    }
    100% { 
    	margin-top: 0;
    	opacity: 1;
	}
}

.animation-expand {
	/* Chrome, Safari, Opera */
    -webkit-animation-name: expand; 
    -webkit-animation-duration: 3s; 
    -webkit-animation-timing-function: ease-in-out;
	/* Standard syntax */
    animation-name: expand;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes expand {
    0%   { width: 0; }
    67%  { width: 0; }
    100% { width: 400px; }
}

/* Standard syntax */
@keyframes expand {
	0%   { width: 0; }
    67%  { width: 0; }
    100% { width: 400px; }
}

.animation-fade-in {
	/* Chrome, Safari, Opera */
    -webkit-animation-name: fade-in; 
    -webkit-animation-duration: 4s; 
    -webkit-animation-timing-function: ease-in-out;
	/* Standard syntax */
    animation-name: fade-in;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fade-in {
    0%   { opacity: 0; }
    75%  { opacity: 0; }
    100% { opacity: 1; }
}

/* Standard syntax */
@keyframes fade-in {
	0%   { opacity: 0; }
    75%  { opacity: 0; }
    100% { opacity: 1; }
}

#header-welcome {
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://s3.amazonaws.com/portfolio-0906/images-background/welcome.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#header-projects {
	background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) ), url('https://s3.amazonaws.com/portfolio-0906/images-background/projects.png') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#header-blog {
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('https://s3.amazonaws.com/portfolio-0906/images-background/blog.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#header-contact {
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('https://s3.amazonaws.com/portfolio-0906/images-background/contact.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#header-about {
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('https://s3.amazonaws.com/portfolio-0906/images-background/about.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}










#header-show {
	background-color: #333;
}





// Section


sectioin {
	height: 100%;
	position: relative;
	z-index: initial;
}


// Carousel_Multi_Frames


.carousel-multi-frames {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    
    -webkit-transform: translate3d(33%, 0, 0);
            transform: translate3d(33%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;

    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    
    -webkit-transform: translate3d(-33%, 0, 0);
            transform: translate3d(-33%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}


// Footer


footer {
    position: relative;
	padding: 50px 0 30px;
	color: #fff;
    background-color: #201f1d;
    .cols > col {
		padding-top: 30px;
	    font-weight: 500;
		padding: 0;
		text-transform: uppercase;
		letter-spacing: 1px;
    }
}